In [19]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [20]:
data = pd.read_csv('all.csv')
data.head()

                files authors
0  c03-000a-00-00.png    c03a
1  c03-000a-00-01.png    c03a
2  c03-000a-00-02.png    c03a
3  c03-000a-00-03.png    c03a
4  c03-000a-00-04.png    c03a

In [21]:
train, test = train_test_split(data, test_size=0.2, shuffle=True, stratify=data["authors"] )
train, val  = train_test_split(train, test_size=0.1, shuffle=True, stratify=train["authors"])

In [22]:
train

                    files authors
14899  g06-050c-03-05.png    g06c
5440   g06-011k-09-04.png    g06k
896    c03-007a-06-05.png    c03a
11627  g06-042b-07-01.png    g06b
12349  g06-042o-02-04.png    g06o
...                   ...     ...
2734   c03-084a-03-05.png    c03a
1356   c03-016b-01-04.png    c03b
1415   c03-016b-08-02.png    c03b
1894   c03-021c-02-01.png    c03c
7980   g06-026h-00-09.png    g06h

[11514 rows x 2 columns]

In [23]:
test

                    files authors
13314  g06-045m-05-08.png    g06m
13856  g06-047d-06-04.png    g06d
1402   c03-016b-06-08.png    c03b
8788   g06-031c-00-05.png    g06c
11360  g06-037p-02-04.png    g06p
...                   ...     ...
14819  g06-050b-03-00.png    g06b
11018  g06-037l-03-04.png    g06l
6297   g06-018c-03-08.png    g06c
4685   g06-011c-09-07.png    g06c
4861   g06-011f-04-08.png    g06f

[3199 rows x 2 columns]

In [24]:
val

                    files authors
5645   g06-011m-07-05.png    g06m
3577   c03-094b-00-07.png    c03b
7577   g06-026a-05-03.png    g06a
1592   c03-016d-08-09.png    c03d
13782  g06-047c-06-04.png    g06c
...                   ...     ...
12652  g06-045c-02-05.png    g06c
3935   c03-094f-06-02.png    c03f
5330   g06-011j-09-08.png    g06j
5251   g06-011j-02-02.png    g06j
12926  g06-045g-03-09.png    g06g

[1280 rows x 2 columns]

In [27]:
sorted(train["authors"].unique())

['c03a',
 'c03b',
 'c03c',
 'c03d',
 'c03e',
 'c03f',
 'g06a',
 'g06b',
 'g06c',
 'g06d',
 'g06e',
 'g06f',
 'g06g',
 'g06h',
 'g06i',
 'g06j',
 'g06k',
 'g06l',
 'g06m',
 'g06n',
 'g06o',
 'g06p',
 'g06r']

In [7]:
sorted(train["authors"].unique()) == sorted(test["authors"].unique()) == sorted(val["authors"].unique())

True

In [16]:
import shutil

root_src = '../png_files/'
root_train_dst = '../png_files/train/'
root_test_dst = '../png_files/test/'
root_val_dst = '../png_files/val/'

In [15]:
for i, row in train.iterrows():
#     print(root_src+row[0])
#     print(root_train_dst+row[0])
    shutil.move(root_src+row[0], root_train_dst+row[0])

In [17]:
for i, row in test.iterrows():
#     print(root_src+row[0])
#     print(root_train_dst+row[0])
    shutil.move(root_src+row[0], root_test_dst+row[0])

In [18]:
for i, row in val.iterrows():
#     print(root_src+row[0])
#     print(root_train_dst+row[0])
    shutil.move(root_src+row[0], root_val_dst+row[0])